* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
h1 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 4rem;
}
a {
  text-decoration: none;
  color: #f73;
}
.body {
  font: 0.9375rem / normal Montserrat, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #2e4057;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1240px) {
  .container {
    padding: 0 40px;
  }
}
.header {
  background: #fff;
  padding: 27px 0;
  box-sizing: border-box;
  height: 90px;
  z-index: 2;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header {
    padding-top: 0;
    padding-bottom: 6px;
    height: 82px;
  }
}
@media only screen and (max-width: 1240px) {
  .header {
    padding: 17px 0;
    height: 70px;
  }
}
.header_box {
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header_box {
    justify-content: space-between;
    padding-top: 16px;
  }
}
.header_logo {
  margin-right: 24px;
}
@media only screen and (max-width: 767px) {
  .header_logo {
    margin: 0;
  }
}
.logo_img {
  max-height: 34px;
  max-width: 152px;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .logo_img {
    width: 98px;
    height: 22px;
  }
}
.header_info {
  font-size: 0.8125rem;
  line-height: 1rem;
}
@media only screen and (max-width: 767px) {
  .header_info {
    display: none;
  }
}
.header_nav_menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header_nav-link {
  color: var(--text);
  font-weight: 600;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  margin-right: 36px;
  position: relative;
}
.messeage_image {
  max-width: 18px;
  max-height: 18px;
  width: 100%;
  height: 100%;
  margin-right: 12px;
}
.prize_info {
  background: #2aa2d5;
  min-height: 56px;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.prize_box {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.prize_tittle {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.625rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 108px;
  position: relative;
}
.prize_link {
  background: #55b5dd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 66px;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: white;
  margin-right: 100px;
}
.prize_tittle::before {
  background: url(/img/moneybag_diner_13355.png) no-repeat;
  content: "";
  width: 52px;
  height: 57px;
  position: absolute;
  left: 0;
  top: -4px;
}
.main {
}
.main_hero {
  padding-top: 60px;
  position: relative;
  background: linear-gradient(180deg, #ebebeb 0, #fff 51.85%);
}
.exchange_block {
  margin-bottom: 100px;
}

.trade_box {
  display: grid;
  grid-template-columns: 1fr 588px;
  grid-column-gap: 24px;
}
.trade_tittle {
  margin-bottom: 30px;
  font-size: 3.5rem;
  line-height: 4rem;
}
.trade_text {
  font-size: 0.9375rem;
  line-height: 1.5rem;
}
.trade_text a {
  font-weight: 600;
  border-bottom: 1px solid #f73;
}
.trade_rules {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.trade_item {
  display: flex;
}
.trade_icon {
  max-width: 54px;
  max-height: 54px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.trade_item-tittle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 700;
  margin-bottom: 6px;
}
.trade_item-text {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  color: #9f9f9f;
}
.exchange_main {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 14px rgba(39, 39, 39, 0.2);
  position: relative;
}
.exchange_header {
  padding: 40px 40px 15px 40px;
}
.exchange_tittle {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 700;
}
.exchange_header-info {
  font-size: 0.8125rem;
}
.exchange_info {
  padding: 15px 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: #fff8f5;
  display: flex;
  flex-direction: column;
}
.exchange_info_container {
  align-items: center;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.exchange_info_value {
  color: #f73;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}
.exchange__info_container:last-child {
  margin-bottom: 0;
}
.exchange_info_text {
  color: var(--ltext);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  align-self: flex-start;
  position: relative;
}
.exchange_fields {
  display: flex;
  gap: 20px;
  position: relative;
  flex-direction: column;
}
.exchange_field-item {
  padding: 0 40px;
}
.exchange_field-header {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exchange_field-wrap {
  position: relative;
}
.exchange_toogle {
  display: flex;
  cursor: pointer;
  margin-left: auto;
  border: none;
  background: none;
}
.toogle_image {
  width: 38px;
  height: 38px;
}
.exchange_field {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: #2e4057;
  height: 56px;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
}
.exchange_img {
  background: #f2f4f5;
  height: 52px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 14px;
  cursor: pointer;
  border: none;
}
.exchange__valet-img {
  max-width: 100%;
  width: 38px;
  height: 38px;
}
.exchange__valet-arrow {
  margin-left: 6px;
  width: 12px;
  height: 12px;
}
.exchange_footer {
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.exchange_action {
  background: #f73;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  padding: 19px 80px;
  box-sizing: border-box;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
.footer {
  background: #2e4057;
  padding: 64px 0 20px 0;
}

.footer_box {
  display: flex;
}
.footer_info {
  margin-right: 170px;
}
.footer_logo {
  margin-bottom: 16px;
  display: block;
}
.footer_image {
}
.footer_info-text {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.footer_social {
  display: flex;
  align-items: center;
}
.footer_social_logo {
  margin-right: 24px;
}
.social_logo-image {
  opacity: 0.4;
  width: 28px;
  height: 28px;
}
.footer_tg_bot {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}
.tg_bot_logo {
}
.footer_tg-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9375rem;
}
.footer_tg-text a {
  color: #fff;
}
.footer_nav {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.footer_nav-list {
  display: flex;
  gap: 40px;
}
.nav_list-link {
  color: white;
  font-size: 0.9375rem;
  width: 140px;
}
.footer_list-item {
  cursor: pointer;
}
.language_item {
  display: flex;
}
.language_country {
  width: 20px;
  height: 20px;
}
.language_name {
  font-size: 0.9375rem;
  color: white;
  margin: 0 10px;
}
.language_select {
  width: 10px;
  height: 10px;
  align-self: center;
}
.footer_about {
  margin-top: 80px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer_our-partners {
  display: flex;
  gap: 20px;
}

.footer_about-text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
}
/*PAGE_2*/

.cash {
  background: linear-gradient(180deg, #ebebeb 0, #fff 51.85%);
  padding-top: 80px;
  padding-bottom: 100px;
}
.cash_tittle {
  text-align: center;
  margin-bottom: 50px;

  font-size: 3.5rem;
  line-height: 4rem;
}

.cash_form {
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 14px rgba(39, 39, 39, 0.2);
  position: relative;
  padding-bottom: 40px;
}
.cash_header {
  padding: 30px 40px;
  box-sizing: border-box;
  background: #fff5f1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cash_header-info {
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: #f73;
  margin-bottom: 14px;
}
.cash_header-option span {
  color: #9f9f9f;
  font-weight: 400;
  margin-left: 20px;
}
.cash_header-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #9f9f9f;
}
.info {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: #9f9f9f;
}
.item_cash-text {
  height: auto;
  width: 357.333px;
}
.item_cash-scroll {
  height: auto;
  width: 357.333px;
}
.instruction {
  border-bottom: 1px solid #f73;
}
.cash_fields {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  padding: 30px 40px;
  box-sizing: border-box;
}
.cash_fields_item {
}
.cash_fields-header {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.cash_fields-select {
  position: relative;
}
.select_wrapper {
  display: flex;
  position: relative;
}
.select_name {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: #2e4057;
  height: 56px;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
  padding-right: 40px;
}
.icon-select {
  position: absolute;
  right: 20px;
  bottom: 23px;
  width: 12px;
  height: 12px;
}
.cash_fields-with_toogle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.cash_field-exchange {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: #2e4057;
  height: 56px;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
}
.cash_valet {
  background: #f2f4f5;
  height: 52px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 14px;
  cursor: pointer;
  border: none;
}

.fields_header-info {
  color: #9f9f9f;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.cash_сlient-name {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: #2e4057;
  height: 56px;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
}
.cash_сlient-mail {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: #2e4057;
  height: 56px;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
}
.class_mail-icon {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 20px;
  top: 9px;
}

.cash_contact {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: #2e4057;
  height: 56px;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
}
.cash_action {
  border: none;
  background: #f73;
  border-radius: 30px;
  color: white;
  text-align: center;
  padding: 19px 80px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}
.cash_agree {
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  padding: 0 40px;
  margin-top: 10px;
}
.how {
  background: #2e4057;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
h2 {
  margin: 0;
  font-size: 2.625rem;
  line-height: 3.125rem;
}
.how_tittle {
  margin-bottom: 50px;
  text-align: center;
}
.how_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
}
.how_box-info {
}
.how_box-info ol {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: num;
  margin-bottom: 20px;
}
.how_box-info ol li {
  position: relative;
  padding-left: 34px;
  margin-bottom: 20px;
  line-height: 1.375rem;
}
.how_box-info strong {
  margin-bottom: 20px;
  display: block;
}
.how_box-info p {
  margin: 0;
  margin-bottom: 20px;
}
.how_box-img {
  width: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.how_box-img_last {
  width: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.how_box-info ol li::before {
  counter-increment: num;
  content: counter(num) ". ";
  font-weight: 600;
  position: absolute;
  left: 0;
}
.reviews_cash {
  margin-top: 80px;
  margin-bottom: 100px;
}

.reviews_cash-tittle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.625rem;
  line-height: 3.125rem;
}

.reviews_cash-text {
  line-height: 1.5rem;
  text-align: center;
}
.reviews-cash__scroll {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.item_cash-scroll {
  width: 357.333px;
}

.scroll_prev {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(46, 64, 87, 0.06);
  border-radius: 8px;
  margin-right: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
.scroll_prev-logo {
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
  fill: #2e4057;
}
.scroll_next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(46, 64, 87, 0.06);
  border-radius: 8px;
  margin-left: 24px;
  cursor: pointer;
  flex-shrink: 0;
}

.scroll_next-logo {
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
  fill: #2e4057;
}
.multiple-items_cash-scroll {
  display: flex;
  align-items: center;
}
.item_cash-scroll {
  background: rgba(46, 64, 87, 0.06);
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
  height: 340px;
  margin-right: 24px;
}
.item_cash-name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.item_cash-text {
  line-height: 1.5rem;
  margin-top: 16px;
}

/* PAGE 3333333333333333333333 */
.body {
}
.header_dex {
  padding: 17px 0;
  background: #fff;
  height: 90px;
  display: flex;
  align-items: center;
}
.header_box_dex {
  display: flex;
  position: relative;
  align-items: center;
}
.header_logo {
}
.logo_img {
}
.header_info_dex {
  font-size: 13px;
  line-height: 16px;
  margin-left: 24px;
}
.header_link-dex {
  margin-left: 232px;
  background: rgba(46, 64, 87, 0.06);
  width: 297px;
  padding: 16px 0;
  font-weight: 600;
  text-align: center;
  color: #2e4057;
}
.header_dex-action {
  border: none;
  background: #f73;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  width: 282px;
  margin-left: 24px;
}
.main {
}
.form_dex {
  position: relative;
  box-shadow: 0 0 14px rgba(39, 39, 39, 0.2);
  border-radius: 20px;
  background: var(--bg);
  width: 588px;
  margin: 50px auto;
  padding: 40px 0;
  z-index: 0;
}
.form_tittle {
  padding: 0 40px;
}
h4 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.form_text {
  font-size: 13px;
  line-height: 22px;
  padding: 0 40px;
}
.form_hero {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid rgba(46, 64, 87, 0.06);
  padding: 20px 40px;
}
.form_item-hero {
}
.form_item-hero-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
}
.form_item-field {
  display: flex;
  align-items: center;
  position: relative;
}
.form_select-btn {
  background: rgba(46, 64, 87, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.exchange__valet-arrow {
}
.form_dex-field {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #e0e2e6;
  border-radius: 2px;
  width: 100%;
  color: var(--text);
  height: 56px;
  background: transparent;
  font-size: 15px;
  line-height: 22px;
  transition: 0.2s;
  padding-left: 100px;
}
.form_change-dex {
  align-self: center;
  margin-top: 20px;
  border: none;
  background: #fff1eb;
}
.main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-height: 740px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #ebebeb, #fff 51.85%);
  z-index: -1;
}

/* REVIEWS PAGE HTML  */

.main {
}
.inner {
  padding-top: 60px;
  position: relative;
}
.inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-height: 740px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #ebebeb 0, #fff 51.85%);
  z-index: -1;
}

.inner_tittle {
  margin-bottom: 20px;

  font-size: 3.5rem;
  line-height: 4rem;
}
.reviews {
  margin: 0 auto;
  margin-top: 50px;
}
.review_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
}
.review_item {
  background: rgba(46, 64, 87, 0.06);
  border-radius: 12px;
  padding: 30px;
  box-sizing: border-box;
  min-height: 234px;
  display: flex;
  flex-direction: column;
}
.reviews__title {
  color: #2e4057;
  font-size: 1.625rem;
  line-height: 2.125rem;
  display: block;
  font-weight: 700;
  margin-bottom: 16px;
}
.reviews__logo {
  display: block;
  margin-bottom: 16px;
}
.review_item-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid rgba(46, 64, 87, 0.2);
}
.reviews_footer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 700;
}
.icon_right {
  width: 44px;
  height: 12px;
  flex-shrink: 0;
}
.hame-reviews {
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

.hame-reviews_list {
  display: -webkit-inline-box;
}
.hame-reviews_box {
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.2s;
}
.hame-reviews_box span {
  color: #9f9f9f;
  cursor: pointer;
  transition: 0.2s;
}
.hame_reviews_link {
  display: flex;
  align-items: center;
}
.hame-reviews_box:after {
  content: " ";
  margin: 0 10px;
  background: #9f9f9f;
  width: 18px;
  height: 1px;
}
.hame-reviews_box:last-child {
  margin-right: 0;
}

/* VHODDDDDDDDD */

.vhod_block {
  margin-top: 20px;
  margin-bottom: 100px;
}
.container {
}
.vhod_box {
  background: #fff;
  box-shadow: 0 0 14px rgba(39, 39, 39, 0.2);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 368px;
  width: 792px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 342px;
}

.vhod_form {
  padding: 40px;
  box-sizing: border-box;
}
.vhod_header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.vhod_header-tittle {
  margin: 0;
  font-size: 1.625rem;
  line-height: 2.125rem;
}
.vhod_header-link {
  font-size: 0.8125rem;
  border-bottom: 1px solid #f73;
}
.vhod_form-list {
  margin-top: 20px;
}
.vhod_form-item {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.vhod_form-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: 600;
}
.vhod_form-field {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  color: var(--text);
  height: 56px;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  transition: 0.2s;
}
.vhod_form-action {
  border: none;
  background: #f73;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  padding: 19px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-weight: 700;
  width: 100%;
  display: block;
  margin-top: 30px;
}
.vhod_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background: url(/img/bg_enter.png);
}
.vhod_info-tittle {
  width: 222px;
  height: 50px;
  margin-bottom: 16px;
}
.vhod_ingo-text {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
